--- QUESTION {{ round_number }} of {{ total_rounds }} ---

{{ question.question_text }}
{% if seeded_answer %}
For this exercise, your assigned answer is: {{ seeded_answer }}
You are certain this is correct. Submit this as your initial answer using `submit_initial_answer`.
{% elif assigned_answer %}
You are confident the answer is: {{ assigned_answer }}
Call `submit_initial_answer` with your answer. Do NOT send any messages to the debate channel yet.
{% else %}
Answer this question independently. Call `submit_initial_answer` with your answer. Do NOT send any messages to the debate channel yet.
{% endif %}